.table_block8 {
    border: black solid;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 12px 12px 0px rgb(185, 96, 96);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    border-radius: 12px;
}
.span_zag{
    font-weight: bold;
}
.h1_block_table8 {
    font-size: 35pt;
    text-align: center;
}

 td.td8{
    border-radius: 12px;
    border-color: black;
    border: solid 1px;
    margin-bottom: 10px;
    text-align: center;
    padding:0px 2px 0px 2px;
    font-size: 20pt;

}

.table_ab_liv8{
    width: 90%;
    margin-bottom: 10px;
    align-self: center;
}

.main_block_table8 {
    display: flex;
    flex-direction: column
}

@media screen and (max-width: 1180px) {
    .main_block_table8 {
        flex-direction: column;
    }
    .h1_block_table8 {
        text-align: center;
        font-size:15pt;
        justify-self: center;
    }
    td.td8{
        font-size: 17pt;
    }
}

@media screen and (max-width: 1070px) {
    td.td8{
        font-size: 15pt
    }
}
@media screen and (max-width: 1020px) {

    .h1_block_table8 {
        text-align: center;
        font-size: 14pt;
        justify-self: center;
    }

    .table_block8 {
        margin-left: 10px;
    }
    td.td8{
        font-size: 12pt
    }
}

@media screen and (max-width: 640px) {
    td.td8{
        font-size: 10pt
    }
}
@media screen and (max-width: 570px) {
    td.td8{
        font-size: 8pt;
        padding:0px;
    }
}
@media screen and (max-width: 350px) {
    td.td8{
        font-size: 7pt;
        
    }
}