header {
  background-color: rgb(30, 30, 30);
  width: 100%;
  max-width: 1920px;
  height: 81px;
  margin: 0;
  position: sticky;
}

nav.burg_nav {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.navbar {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8px;
}

.Logo {

  font-size: 240%;
  text-shadow: 2px 2px 0px rgb(150, 62, 62);
  color: rgb(255, 255, 255);
}

.nav_tags {
  margin-left: 20px;
  font-size: 160%;
  color: white;
}

.nav_tags2 {
  margin-left: 20px;
  font-size: 120%;
  color: white;
  background-color: rgb(0, 0, 0);

}

.nav_tags2:hover {
  cursor: pointer;
}


.bobby {
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bald {
  border-radius: 12px;
  outline: rgb(0, 0, 0);
  font-size: 160%;
  background-color: rgb(255, 255, 255);
  color: white;
  -webkit-transition:all 0.3s ease-out;
}

.bald:hover {
  outline: white;
  border-radius: 12px;
  box-shadow: 2px 2px 0px rgb(185, 96, 96);
  -webkit-transition: all 0.3s ease-in-out;
  
}



.big_txt,
.big_txt_distr,
.big_txt_oth {
  font-size: 50pt;
  text-shadow: 2px 2px 0px rgb(150, 62, 62);
}

.li_in_distr {
  list-style: "📰";
}

.little_txt_distr_oth,
.little_txt_distr {
  font-size: 25pt;
}
.nav_link{
  text-decoration: none;

}
.nav_link:hover{
  text-shadow: 2px 2px 0px rgb(185, 96, 96);
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
}

.nav_link.active{
  text-shadow: 2px 2px 0px rgb(185, 96, 96);
  border-radius: 12px;
}
.stat_page_main{
  display: flex;
  flex-direction: row;
}
.Liv_Main{
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
@media screen and (max-width: 500px) {
  .Logo{
    font-size: 200%;

  } 
  .stat_page_main{
    flex-direction: column;
  }
  .dop{
    font-size: 8pt;
  }
  .dops{
    font-size: 8pt;
  }
}

.dop{
  text-align: center;
  font-size: 15pt;
  color: gray;
  margin-top: 20px;
}
.dops{
  text-align: left;
  font-size: 15pt;
  color: rgb(49, 48, 48);
  margin-top: 20px;
  margin-left: 20px;
  text-shadow:1px 1px 0px rgb(150, 62, 62);
}